### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

In [2]:
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [3]:
purchase_data.describe()

       Purchase ID         Age     Item ID       Price
count   780.000000  780.000000  780.000000  780.000000
mean    389.500000   22.714103   91.755128    3.050987
std     225.310896    6.659444   52.697702    1.169549
min       0.000000    7.000000    0.000000    1.000000
25%     194.750000   20.000000   47.750000    1.980000
50%     389.500000   22.000000   92.000000    3.150000
75%     584.250000   25.000000  138.000000    4.080000
max     779.000000   45.000000  183.000000    4.990000

In [4]:
purchase_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 780 entries, 0 to 779
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Purchase ID  780 non-null    int64
 1   SN           780 non-null    object
 2   Age          780 non-null    int64
 3   Gender       780 non-null    object
 4   Item ID      780 non-null    int64
 5   Item Name    780 non-null    object
 6   Price        780 non-null    float64
dtypes: float64(1), int64(3), object(3)
memory usage: 42.8+ KB

## Player Count

* Display the total number of players

In [5]:
total_players = len(purchase_data['SN'].value_counts())
# create a dataframe display total players 
players = pd.DataFrame({'Total Players' : [total_players]})
players

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [6]:
unique_item = len(purchase_data['Item Name'].unique())
avg_price = purchase_data['Price'].mean()
number_purchase = purchase_data['Item ID'].count()
revenue = purchase_data['Price'].sum()

summary = pd.DataFrame({'Number of Unique Items' : [unique_item], 
                        'Average Price' : [avg_price], 
                        'Number of Purchase': [number_purchase],
                        'Total Revenue' : [revenue]})
summary.style.format({'Average Price' : '${:,.2f}', 
                    'Total Revenue': '${:,.2f}'})

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [14]:
gender = purchase_data.groupby("Gender")
total_gender = gender.nunique()["SN"]

# % of gender
gender_percent = total_gender / total_players * 100
gender_stat = pd.DataFrame({"Total Count":total_gender, "Percentage of Players":gender_percent})
gender_stat.sort_values(['Total Count'], ascending=False).style.format({"Percentage of Players":"{:.2f}%"})


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [8]:
# count the total purchase count by gender
total_purchase = gender['Purchase ID'].count()

# average purchase by gender
avg_purchase = gender['Price'].mean()

#average purchase total
avg_purchase_total = gender['Price'].sum()

# avg purchase by person
avg_purchase_person = avg_purchase_total / total_gender

gender_stats = pd.DataFrame({'Purchase Count':total_purchase,
                             'Avg. Purchase Price': avg_price,
                             'Avg. Purchase Total':avg_purchase_total,
                             'Avg. Purchase Total per Person':avg_purchase_person})

gender_stats.style.format({'Avg. Purchase Price': '${:,.2f}',
                          'Avg. Purchase Total': '${:,.2f}',
                          'Avg. Purchase Total per Person': '${:,.2f}'})

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [15]:
age_bins = [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 99999]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]


purchase_data['Age Group'] = pd.cut(purchase_data['Age'], age_bins, labels=group_names)
purchase_data.head()

# create new data frame with age group
aged_group = purchase_data.groupby('Age Group')

age_group_count = aged_group['SN'].nunique()

age_group_percent = age_group_count / total_players *100

age_stats = pd.DataFrame({'Total Count':age_group_count, 'Percentage of Players':age_group_percent})
age_stats.style.format({'Percentage of Players':'{:,.2f}%'})

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [16]:
purchase_count_age = aged_group['Purchase ID'].count()

avg_price_age = aged_group['Price'].mean()

avg_purchase_total = aged_group['Price'].sum()

avg_purchase_person_age = avg_purchase_total / age_group_count

age_stats = pd.DataFrame({'Purchase Count': purchase_count_age,
                             'Avg. Purchase Price': avg_price_age,
                             'Avg. Purchase Total':avg_purchase_total,
                             'Avg. Purchase Total per Person':avg_purchase_person_age})

age_stats.style.format({"Avg. Purchase Price":"${:,.2f}",
                               "Avg. Purchase Total":"${:,.2f}",
                               "Avg. Purchase Total per Person":"${:,.2f}"})

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [11]:
spender = purchase_data.groupby('SN')

#count total purchase by name
spender_purchase_count = spender['Purchase ID'].count()

spender_avg_purchase_price = spender['Price'].mean()

spender_purchase_total = spender['Price'].sum()

# create a dataframe for top spender
top_spenders = pd.DataFrame({"Purchase Count": spender_purchase_count,
                             "Average Purchase Price": spender_avg_purchase_price,
                             "Total Purchase Value":spender_purchase_total})

                             
top_spender = top_spenders.sort_values(["Total Purchase Value"], ascending=False).head().style.format({"Average Purchase Total":"${:,.2f}",
                                                                                                "Average Purchase Price":"${:,.2f}", 
                                                                                                "Total Purchase Value":"${:,.2f}"})
top_spender

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [12]:
items = purchase_data[['Item ID', 'Item Name', 'Price']]

item_stat = items.groupby(['Item ID', 'Item Name'])

item_purchase_count = item_stat['Price'].count()

item_total_purchase_value = item_stat['Price'].sum()

item_price = item_total_purchase_value /  item_purchase_count

# Create data frame with obtained values
popular_items = pd.DataFrame({"Purchase Count": item_purchase_count, 
                                   "Item Price": item_price,
                                   "Total Purchase Value": item_total_purchase_value})

formatted_popular_items = popular_items.sort_values(["Purchase Count"], ascending=False).head().style.format({"Item Price":"${:,.2f}",
                                                                                                    "Total Purchase Value":"${:,.2f}"})
formatted_popular_items

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [13]:
formatted_popular_items = popular_items.sort_values(["Total Purchase Value"], ascending=False).head().style.format({"Item Price":"${:,.2f}",
                                                                                                                    "Total Purchase Value":"${:,.2f}"})

formatted_popular_items